<header>
  <h3 class='title'>Contatti</h3>
</header>
<div class="container mt-6">
  <div class="columns">
    <div class="column is-half">
      
      <h3 class="title">
        Vuoi metterti in contatto per un progetto?
      </h3>
      <p>Potete scrivermi su hello@valeriozarba.it o tramite i canali social</p>

      <a class="button" href="https://www.instagram.com/valeriozarba/?hl=it" target="__blank">
        <span class="icon">
          <i class="fab fa-instagram"></i>
        </span>
        <span>Instagram</span>
      </a>

      <a class="button" href="https://it.linkedin.com/in/valeriozarba" target="__blank">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
        <span>LinkedIn</span>
      </a>

      <a class="button" href="https://github.com/valeriozarba" target="__blank">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>Github</span>
      </a>
      <br/><br/><br/>
      <h3>
        Oppure il modo più  veloce è compilare il form a fianco <i class="far fa-hand-point-right"></i>
      </h3>
      
     
    </div>
    <div class="column"> 
      <app-contact-form></app-contact-form>
    </div>
    
  </div>
</div>
