<div class="container">

  <div class="row">
    <div class="col-12">
      <header>
        <h2>Valerio Zarba</h2>
      </header>
      <article>
        <p>Sono uno sviluppatore web/webmaster su piattaforme Wordpress, lavoro da più di 10 anni nel settore sviluppo web e webdesign. 
          Dal 2019 ricopro anche la carica da SOA Developer su sistemi Enterprice Java.</p>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      
      <h2>Esperienze</h2>
      <h5>Le esperienze lavorative e collaborazioni</h5>
      <br/>
      <article class="row">
        <div class="col-12 col-md-6">
          <h5>Reeturn S.r.l. - Vittoria, Ragusa</h5>
          <p class="date">2019-corrente</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Consulenza SOA su architettura ESB, sviluppo in java e sistemi di sviluppo Enterprice.</p>
        </div>
      </article>

      <article class="row">
        <div class="col-12 col-md-6">
          <h5>Menostudio di Valerio Zarba - Vittoria, Ragusa</h5>
          <p class="date">2013-corrente</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Sviluppo web, webdesign e consulenza informatica</p>
        </div>
      </article>

      <article class="row">
        <div class="col-12 col-md-6">
          <h5>Riva Web - Vittoria, Ragusa</h5>
          <p class="date">2007-2016</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Sviluppo web e gestione siti web</p>
        </div>
      </article>

      <article class="row">
        <div class="col-12 col-md-6">
          <h5>Riva Web - Vittoria,Ragusa</h5>
          <p class="date">2007-2016</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Sviluppo web e gestione siti web</p>
        </div>
      </article>
      
      <article class="row">
        <div class="col-12 col-md-6">
          <h5>MCHouse S.r.l. - Modica, Ragusa</h5>
          <p class="date">2007-2016</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Sviluppo web e gestione siti web</p>
        </div>
      </article>

      <article class="row">
        <div class="col-12 col-md-6">
          <h5>City Comunication - Vittoria, Ragusa</h5>
          <p class="date">2002-2003</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Gradica e multimedia</p>
        </div>
      </article>

    </div>
  </div>

  <div class="row">
    <div class="col-10">
      
      <h2>Istruzione</h2>
      <h5>La mia istruzione</h5>
      <br/>

      
      <article class="row">
        <div class="col-12 col-md-6">
          <h5>Reeturn S.r.l. - Vittoria, Ragusa</h5>
          <p class="date">2019-corrente</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="skills">Consulenza SOA su architettura ESB, sviluppo in java e sistemi di sviluppo Enterprice.</p>
        </div>
      </article>

    </div>
  </div>
</div>
