

<!-- Footer -->
<footer class="footer">
    <section class="section">
    <div class="container">
        <div class="columns">
           

            <div class="column is-three-quarters">
                <div class="info">
                    Via A.Manzoni 3M, Vittoria, Ragusa<br/>
                    Email: contatti@valeriozarba.it<br/>
                    Phone: +39 0932 1846336<br/>
                    Social: 
                </div>
            </div>

            <div class="column">
                <nav class="stilizzato">
                  <a routerLink="/about">About</a>
                  <a routerLink="/skill">Skill</a>
                  <a routerLink="/progetti">Progetti</a>
                  <a routerLink="/contact">Contatti</a>
                </nav>
            </div>
        </div>

        <div class="row footerbio">
                <div class="col-12 text-center">
                    <p><a href="https://menostudio.it" target="__blank" title="Realizzazione siti web sicilia">Sito web sviluppato in Sicilia</a></p>
                </div>
        </div>
    </div>
    </section>
</footer>
