
<form (ngSubmit)="onSubmit()" 
        [formGroup]="form" action="/sendmail" class="mb-6">

    <div class="form-group" *ngIf="(step==0)">

        <div class="field">
            <label class="label">* Nome</label>
            <div class="control">
                <input type="text" 
                    placeholder="*Nome" 
                    class="input is-medium"
                    formControlName="nome">
            </div>
        </div>

        <div class="field">
            <label class="label">Cognome</label>
            <div class="control">
                <input type="text" 
                    placeholder="*Cognome" 
                    class="input is-medium"
                    formControlName="cognome">
            </div>
        </div>
        
        <div class="field">
            <label class="label">* E-mail</label>
            <div class="control">
                <input type="text" 
                    formControlName="email"
                    class="input is-medium"
                    placeholder="*E-mail">
            </div>
        </div>

       
    </div>

    <div class="form-group" *ngIf="(step==1)">

        <div class="field">
            <label class="label">Tipologia contatto</label>
            <div class="control">
                <div class="select is-medium">
                    <select 
                    formControlName="contatto" class="select" placeholder="Seleziona una voce">
                        <option value="wordpress">Sviluppo Wordpress</option>
                        <option value="app">Sviluppo APP</option>
                        <option value="consulenza">Consulenza tecnica</option>
                    </select>
                </div>
                
            </div>
        </div>

        <div class="field">
            <label class="label">Messaggio</label>
        </div>
        <div class="field">
            <div class="control">
                <textarea class="textarea is-medium"
                formControlName="messaggio"
                placeholder="...scrivi qui il tuo messaggio" rows="8"></textarea>
            </div>
        </div>

    </div>


    <div class="form-group" *ngIf="(step==2)">

        <p>Rivediamo le informazioni compilate...</p>
        <p>Nome: {{this.form.value.nome}}</p>
        <p>Cognome: {{this.form.value.cognome}}</p>
        <p>Email: {{this.form.value.email}}</p>
        <p>Contatti per: {{this.form.value.tipologia}}</p>
        <p>Messaggio</p>
        <p>{{this.form.value.messaggio}}</p>

    </div>

    <div class="form-group" *ngIf="(step==3)">

        <h1>Il tuo messaggio è stato....</h1>

    </div>

    <div class="field mt-3 is-grouped" *ngIf="(step<3)">
        <div class="control">
            <button type="button" class="button is-medium is-primary" *ngIf="(step>0)" (click)="goBack()">
                 
                <span class="icon">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span>Torna indietro</span>
            </button>
        </div>
        <div class="control">
            <button type="submit" class="button is-medium is-success" [disabled]="!isValidForm()">
                <span>
                    {{testopulsante}}
                </span> 
                <span class="icon">
                    <i class="fas fa-angle-right"></i>
                </span>
            </button>
        </div>
    </div>



    
</form>