
<header class="pagetitle hero">
  
  <div class="hero-image">
      <img src='assets/img/io.png' 
        class='img-fluid' alt='Valerio Zarba Caricatura' />
  </div>
  

  <div class="container">
    <div class="columns align-items-center ">
  
      <div class="column is-three-fifths">
        <div class="hero-content">
            
            <h1 class='title'>VALERIO ZARBA</h1>
            <h3 class='title'>SENIOR WEB DEVELOPER</h3>
            <p> O anche nel modo più conosciuto</p>
            <h3>WEBMASTER</h3>
            <a class="button button-primary"(click)="scrollTo('step1')">Iniziamo a conoscerci</a>
           
        </div>
           
      </div>
    </div>
    
  </div>

 

</header>

<section class="section" id="step1">
<div class="container">

  <div class="columns">
    <div class="column is-three-fifths">
      <h2 class="title mt-6">Di cosa si occupa un </h2>
      <h1 class="title">WEBMASTER ?</h1>
      <p>Hai voglia di sviluppare un progetto web, un sito ecommerce o una piattaforma di servizi online ? Un webmaster è in grado di pianificare inizialmente ogni aspetto di sviluppo del tuo progetto.</p>
      <p>Non mi occupo della grafica, del logo o dei biglietti da visita, ma del tuo <strong class="">AMBIENTE INFORMATICO</strong>.</p>
      <p>Se sei hai in mente di sviluppare un nuovo progetto sul web, 
        il <strong>webmaster</strong> segue tutto l'iter di sviluppo, il nome del sito, configurazione e-email e le risorse informatiche per il progetto che hai in mente di sviluppare,
         in base a budget e tempistiche prefissate</p>
    </div>
    <div class="column">
        <img srcset="assets/img/clock-demo-200px.png 200w,
        assets/img/clock-demo-400px.png 400w"
    sizes="(max-width: 600px) 200px, 50vw" >
    </div>

  </div>

  <div class="columns space-default">
    <div class="column">
      <div class="box-title mt-4">
        <h4>
          <span>.1</span> ESIGENZE
        </h4>
        <h3>In cosa posso essere utile</h3>
      </div>
      <div class="labox">
        <img src="assets/img/Web_design_PNG.png" class="img-fluid">
      </div>
      
    </div>
    <div class="column">
        
       
        <ul class="list-bad">
          <li>
            Avviare un progetto web
          </li>
          <li>
            Lavorare con la piattaforma Wordpress
          </li>
          <li>
            Progettare un portale web o e-commerce
          </li>
          <li>
            Scrivere del codice per risolvere problemi o automatizzare processi.
          </li>
          <li>
            Qualsiasi bellissima idea tecnologica che hai intenzione di sviluppare
          </li>
        </ul>
    </div>

  </div>


  <div class="columns space-default is-flex-direction-row-reverse">

    <div class="column">

      <div class="box-title mt-4">
        <h4>
          <span>.2</span> OFFERTA
        </h4>
        <h3>Cosa posso offrire della mia esperienza</h3>
      </div>

      <div class="labox">
        <img src="assets/img/Startup_PNG.png" class="img-fluid">
      </div>
      
    </div>


    <div class="column">
      <ul class="list-bad">
        <li>
          Esperienza nel settore web e sviluppo
        </li>
        <li>
          Conoscenza del sistema Wordpress
        </li>
        <li>
          Sviluppo dedicato di temi e plugin
        </li>
        <li>
          Ottimizzazione del sito per la SEO
        </li>
        <li>
          Il know-how per l'utilizzo di Wordpress
        </li>
       
      </ul>
      
    </div>

  </div>

  <div class="columns space-default">
    <div class="column">

      <div class="box-title mt-4">
        <h4>
          <span>.3</span> METODO
        </h4>
        <h3>Tecnologie utilizzate</h3>
      </div>

       
      <div class="labox">
        <img src="assets/img/app_development_PNG.png" class="img-fluid">
      </div>

      
     
    </div>


    <div class="column">
      
      <ul class="list-bad">
        <li>
            Wordpress / Prestashop / Codeigniter 
        </li>
        <li>
            PHP / Javascript / CSS / Typescript
        </li>
        <li>
            Node / Angular / Ionic / React / Flutter
        </li>
        <li>
            Git / Docker / Composer / Webpack
        </li>
      </ul>

      <p>Mi piace ottimizzare i processi di sviluppo, dalla progettazione fino alla distribuzione e messa online del progetto.</p>
        <p>Utilizzo meccanismi di Pipeline e CI/CD per migliorare sempre il codice e rendere più costante possibile il rilascio delle migliorie.</p>
     

    </div>

  </div>
  
  
</div>

</section>

<div class="banner-full">
  <section class="section">
    <div class="container">
      <div class="columns space-default">

        <div class="column text-center ">
          <div class="content color-bianco">
            <h2 class="title"> Se cerchi qualcuno che gestisca il tuo progetto, sei nel posto giusto</h2>
           
          </div>
        </div>
        <div class="column" style="color: #fff;">
          <h2>I casi sono 2</h2>
          <ol>
            <li>
              <p>Il tuo problema è risolvibile con il budget prefissato! Ok andiamo avanti</p>
            </li>
            <li>
              <p>Il tuo problema ha bisogno di un budget troppo alto da quello prefissato, devi adattarti a qualcosa di più semplice. </p>
            </li>
          </ol>
          <a routerLink="/contact" class="button is-primary">Contattami adesso </a>
          <p>Sai cosa vendeva all'inizio Amazon ?</p>
        </div>
      </div>

    </div>
  </section>
</div>