

.hero{
    padding: 25vh 0px 25vh;
    position: relative;
}

.hero-content{
    position: relative;
    z-index: 100;
    color: #fff;
    line-height: 4.3rem;
}

.hero-content h1{
    margin-bottom: 22pt;
    font-size: 3.4rem;
}

.hero-content h2{
    font-size: 3.1rem;
}
.hero-content h3{
    font-size: 2.5rem;
}

.hero-image{
    position: absolute;
    z-index: 10;
    right: 5vw;
    bottom: -90px;
}

.hero-image:after{
    content: "";
    background-color: #fff;
    border-radius: 90px;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
}

.labox{
    padding: 0px 22% 0px;
    text-align: center;
    margin-bottom: 23px;
}

.labox.animate:before{
    animation:movimentoLento 4s infinite;
   
}


ul.list-bad{
    margin-top: 32px;
    padding-left: 0px;
    list-style-type: square;
    list-style-position: inside;
    font-size: 15px;
    line-height: 20px;
  }
  ul.list-bad > li{
    margin: 0pt 0px 16pt;
  }

  


  @media screen and (max-width: 575px) {
    .hero-image{
        width: 95vw;
        left: 0px;
        bottom: 0px;
    }
  }
  