<header>
  <div class="container">
    <h2>Skills e linguaggi</h2>
    <p>Non prediligo un linguaggio specifico, ma per lavoro e necessità uso più di frequente, PHP e JAVA, ma conosco bene anche il resto:</p>
  </div>
</header>

<section class="section">
<div class="container">
  <div class="columns">
    <div class="column">
      <p>Trovi l'eleneco dei linguaggi o strumenti da me utilizzati, una raccolta di info sul linguaggio e il perchè mi piace usarlo</p>
      <ul>
        <li>
          - JAVA - 
          <p>Il liguaggio OOP , pulito, deciso e ben strutturato, java rappresenta il linguaggio portabile più usato in ambiente Enterprise.</p>
          <p>Utilizzo tale inguaggio per i progetti con Reeturn.it che attualmente detiene parte della mia attuale esperienza di sviluppo servizi Soap e Microservice Architecture </p>
        </li>

        <li class="">
           - PHP - 
          <p>L'inguaggio di scripting per il web, è un linguaggio molto comune per sviluppare progetti web, siti web dinamici e usato nello sviluppo di piattaforme CMS come Wordpress.</p>
          <p>Lo uso perchè è stato il mio primo amore alla programmazione web, credo che con le opportune conoscenze e applicando i giusti metodi di sviluppo <a hre='https://www.php-fig.org/psr/' target="__new">PSR</a>, php diventa un linguaggio ben strutturato.</p>
        </li>
        

        <li>
          - JAVASCRIPT -
          <p>Voglio fare una precisazione, JAVA e JAVASCRIPT non sono e non rappresentano minimamente la stessa cosa!!!!</p>
          <p>Quando ho cominciato a scrivere script in javacript avevo 15 anni, è il linguaggio di script per le pagine web, è un linguaggio che lavora all'interno dei browser e serve per 
            Modificare il comportamento del browser, intercettare gli eventi della finestra, come click o movimenti del mouse, cambiare colori e molto altro!
          </p>
          <p>
            Sepre usato nelle sue svariate mutazioni e miglioramenti, con l'aggiunta del motore V8 adesso javascript pù fare grandi cose, considerando anche la moltitudine di browser presenti nei dispositivi al giorno d'oggi.
          </p>
        </li>
        <li>
          - JQUERY - 
          <p>Libreria javascript è uno dei framework di funzioni più usato per lavorare con i siti web</p>
          <p>Usato da quando è nato, jquery rappresenta il 80% d'utilizzo in siti web e pagine che spesso realizzo, sempre se queste non sono sviluppate in linguaggi più reattivi come Angular, Vue o React</p>
        </li>
        <li>- ANGULAR -
          <p>Il linguaggio di sviluppo Reattivo che più mi piace a livello di architettura, riesce ad implentare al suo interno tutto l'indispensabile per compilare e testare gli applicativi web che si sviluppano.</p>
        </li>
        <li>IONIC</li>
        <li>CODEIGNITER</li>
        <li>NODEJS</li>
        <li>GIT</li>
        <li>NPM</li>
        <li>MVC</li>
        <li>SOCKETIO</li>
        <li>AMP</li>
        <li>PWA</li>
        <li>Typescript</li>
      </ul>
    </div>
  </div>
</div>
</section>