#appGame{
  overflow: hidden;
  width: 90vh;
  height: 90vh;
}

.box-testo-img{
  padding: 20vh 0px 20vh;
  background-color: #333;
  color: #fff;
  text-align: center;
}

header.pagetitle h1{
  font-size: 6rem;
  font-weight: 700;

}

.screen{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #fff;
}

#contactID{
  display: block;
  width: 100%;
  height: 500px;
  margin: 90px auto 0px;
}

#maincontent{
  min-height: 100vh;
}
