

.navbar{
  background-color: transparent;
}

.navbar a,
.navbar a:visited,
.navbar a:hover{
  color: #393e46;
}



.navbar h1{
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  mix-blend-mode: difference;
}
.navbar h1 > small{
  font-size: .9rem;
  letter-spacing: 3px;
  background-color: #393e46;
  color: #fff;
  padding: 4px;
}

