<!-- Toolbar -->
<nav class="navbar is-fixed-top is-transparent is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1>VALERIO ZARBA<br/><small>designer digitale</small></h1>
    </a>
  </div>
  
  <div class="navbar-end">
    <div class="navbar-item">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" id="button-toggle" (click)="toggleMenu()" style="display: flex;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
   
  </div>
  
  
</nav>

