

.box-chat{
    width: 30vw;
   
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    display: block;
    z-index: 99999;
    padding: 22px;
    border: 1px solid #333;
    box-shadow: -3px -2px 10px 5px rgba(0, 0, 0, 0.3);
}

.box-messages{
    height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}