<div class="box-chat">
    <h5>Comunica in realtime</h5>
    <div class="box-messages">
        <div class="messaggio" *ngFor="let messaggio of messages">
        <b class="label">{{messaggio.from.name}} {{messaggio.action}}</b> {{messaggio.content}}
        </div>
    </div>
    <input class="input-form" type="text" [(ngModel)]="messaggio" placeholder="Inserisci il tuo nikck" [ngModelOptions]="{standalone: true}"/>
    <button (click)="invio()">Invia</button>
</div>
