<header>
   <h3 class="title">About</h3>
</header>

<section class="section">
  <div class="container">
    <div class="columns is-flex-direction-row-reverse	">
      
      <div class="column ">
        <div class="foto-row">
          <img src="assets/img/poster-image.jpg" class="img-fluid" width="800px">
        </div>
      </div>

      <div class="column">
        <p class="firt-up">Valerio Zarba, classe 84, nasce nel comune di Vittoria in provincia di Ragusa.</p>
        <p>Da adolescente si avvicina al mondo della tecnologia e dell’informatica portandolo a sviluppare grafiche, animazioni e piccoli giochi in Flash, si innomora di quello che sarà il suo futuro lavoro.</p>
        
      </div>

     

    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="foto-row">
          <img src="assets/img/8219.jpg" class="img-fluid" width="800px">
        </div>
      </div>
      <div class="column">
        <p class="">
           La forte passione per il disegno e più nello specifico per la <b>street art</b>, gli consentono di scoprire non solo un lato logico, ma una sensibilità artistica che trova espressione anche nel mondo dell’illustrazione digitale e della fotografia.
        </p>
        <p>Mosso da questi interessi, decide di intraprendere gli studi di Informatica all’universita degli studi di Catania. </p>

        <p>Il suo forte interesse verso il mondo della programmazione gli permettono già negli anni universitari 
          a lavorare come freelance e sviluppare i primi siti web, portali e sistemi e-commerce.</p>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns is-flex-direction-row-reverse">
      <div class="column">
        <div class="foto-row">
          <img src="assets/img/poster-image.jpg" class="img-fluid" width="800px">
        </div>
      </div>
      <div class="column">
        
        <p class=""> L’esperienza di questi anni a contatto con professionisti del settore, gli permettono di acquisire notevoli competenze in materia di programmazione, tanto che, dopo la Laurea e anni di gavetta, decide di avviare il suo primo progetto: <b>MENO STUDIO</b>, uno studio da professionista digitale che si occupa di programmazione web.</p>
  
        <p class="firt-up">Da qualche anno, grazie ai Progetti Europei, si dedica alla formazione di nuove figure lavorative orientate al lavoro web presso Istitui statali, privati, aziende e associazioni.</p>
        <p class="firt-up">Come ultimo progetto <a href="https://codsquare.com" target="new">Codsquare</a> una web agency incentrata sul lavoro di sviluppo web, con lo scopo di rafforzare i progetti attuali e futuri.</p>
        
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column text-center">
        <a routerLink="/curriculum" class="btn btn-primary">Mostra il CV</a>
      </div>
    </div>
  </div>
</section>