<header>
  <div class="container">
    <h2 class="title">Progetti</h2>
  </div>
</header>
<div class="container">
  <div class="columns is-multiline">
   
        <div *ngFor="let progetto of listaProgetti" class="column is-4">
          <div class="progetti-card">
              <div class="__header">
                <h3>{{progetto.title.rendered}}</h3>
              </div>
              <div class="__content">
                  <img [src]="getFeaturedImage(progetto)" class='img-fluid' alt='immagine' />
              </div>
          </div>
         
            
        </div>
      
  </div>
</div>
