<header>
    <h3 *ngIf="articoli!=undefined">Blog</h3>
    <h3 *ngIf="singolo!=undefined">{{singolo.title.rendered}}</h3>
 </header>

 <section class="section" id="step1">
 <div class="container" *ngIf="articoli!=undefined">
   <div class="columns align-items-center">
        <div class="column">
            <article *ngFor="let articolo of articoli">
                    <h4>{{articolo.title.rendered}}</h4>
                    {{articolo.uagb_excerpt}}
                    <a href="{{'/blog/'+(articolo.id)}}" routerLinkActive="router-link-active">Leggi articolo</a>
            </article>
        </div>
    </div>
</div>


<div class="container" *ngIf="singolo!=undefined">
    <div class="columns align-items-center">
        <div class="column">
            <a routerLink='/blog' ref>Torna indietro</a>
            <div [innerHTML]="singolo.content.rendered"></div>
        </div>
     </div>
 </div>
</section>