
<app-toolbar (menuState)='menuToggleEvent($event)' class="toolbar {{pageScrollClass}}"></app-toolbar>
<main>
  <aside class="sidebar-right">
      <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="stilizzato light">
                  <a routerLink="/" routerLinkActive="home" (click)="menuToggleEvent($event)">Home</a>
                  <a routerLink="/about" routerLinkActive="about" (click)="menuToggleEvent($event)">About</a>
                  <a routerLink="/progetti" routerLinkActive="progetti" (click)="menuToggleEvent($event)">Progetti</a>
                  <a routerLink="/blog" routerLinkActive="contact" (click)="menuToggleEvent($event)">Blog</a>
                  <a routerLink="/contact" routerLinkActive="contact" (click)="menuToggleEvent($event)">Contatti</a>
                </nav>
              </div>
          </div>
      </div>
      
  </aside>
  <div class="sidebar-center" (click)="mainClick()" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet  #outlet="outlet"></router-outlet>
    <app-footer></app-footer>
  </div>

</main>