@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Roboto+Slab&family=Space+Mono&display=swap');


$colore-sfondo: #FEFEFE;
$colore-scuro: #393e46;
$base-color: #eeeeee;
$primary-color: #76ead7;
$secondario-color: #76ead7;

$colore-header:  #76ead7;
$colore-pulsante: #eeeeee;
$colore-testo-inverso: #5911e2;

$sidebar-width: 100vw;
/** per mantenere le proporzioni globali*/
$space_top_bottom: 42px;
$space_left_right: 42px;
$font-heading: "Space Mono",'sans serif';
$font-body: "Space Mono", serif;


/* You can add global styles to this file, and also import other style files */
:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: $colore-testo-inverso;
}

body,
html {
  margin: 0;
  padding: 0px;
  height: auto;
  scroll-behavior: smooth;
}

.banner-full{
  background-color: $colore-scuro;
}

body {
  font-family: $font-body;
  font-weight: 100;
  font-size: 15px;
  background-color: $colore-sfondo;
}
p{
  padding-bottom: 1em;
  line-height: 32px;
  font-weight: 100;
}

.fullheader{
  height: 100vh;
}

header{
  padding: 200px 0px 40px;
  text-align: center;
  background-color: $colore-header;
  color: #fff;
}

main{

  z-index: 100;
  position: relative;
  overflow: hidden;

}


.toolbar{
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #383838;
  font-weight: 600;
  position: sticky;
  top: 0px;
  z-index: 1000;
  width: 100vw;
  max-width: 100%;
}

body.toggle .sidebar-center,
main.toggle-active .sidebar-center{
  transform: translateX(-$sidebar-width) translateY(-75px);
}
body.toggle .sidebar-right,
main.toggle-active .sidebar-right{
 display: block;
 transform: translateX(0) translateY(0px);
 right: 0px;
 background-color: rgba(0, 0, 0, 0.9);
}
.sidebar-right{
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.735);
  transition: all .8s ease-in-out;
  transform: translateX($sidebar-width) translateY(0px);
}
.sidebar-right nav{
  margin-top: 20vh;
}
nav.stilizzato a{
  padding: 13px 22px;
  display: block;
  clear: both;
  text-align: left;
  font-size: 2.3rem;
  text-transform: lowercase;
  --font-family: 'BioRhyme', serif;
}
nav.stilizzato.light a{
  color: #fff;
}

nav.stilizzato a:before{
  content: '+';
  display: inline;
  position: relative;
  margin-right: 2rem;
}


nav.stilizzato a:hover{
  color: $colore-scuro;
}
nav.stilizzato a{
  color: $colore-testo-inverso;
  text-decoration: none;
}

.sidebar-center{
  width: 100vw;
  min-height: 100vh;
  position: relative;
  transition: all .8s ease-in-out;
}

#button-toggle{
  background-color: transparent;
  color: #fff;
  fill: #fff;
  margin-right: 4px;
  background-color: #000;
  top: 0px;
  right: 0px;
  position: fixed;
  transition: all .8s ease-in-out;
}
#button-toggle > svg rect{
  fill: #fff!important;
}

/** PULSANTI **/


.button-base{
  transition: all .3s ease-in-out;
  background-color: $primary-color;
  border: .13rem solid #333;
  margin: $space_top_bottom 0px $space_top_bottom;
  padding: .6rem .8rem;
  display: block;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.3);
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: lighter;
}
.button-base:hover{
  background-color: #333;
  color: #fff;;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}

body.toggle #button-toggle svg #re1,
main.toggle-active #button-toggle svg #re1{
  display: none;
}

body.toggle #button-toggle svg #re2,
main.toggle-active #button-toggle svg #re2{
  transform: translate(-10px,65%) rotate(-45deg);
}

body.toggle #button-toggle svg #re3,
main.toggle-active #button-toggle svg #re3{
  transform: translate(70px,-60%) rotate(45deg);
}
body.toggle #button-toggle{
  
}
body.toggle .navbar-burger span:nth-child(3){
  display: none;
}
body.toggle .navbar-burger span:nth-child(1){
  transform: translateY(2.5px) rotate(-45deg);
}
body.toggle .navbar-burger span:nth-child(2){
  transform: translateY(-2.5px) rotate(45deg);
}

.toolbar .navbar-brand .navbar-item{
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.toolbar._startScroll .navbar-brand .navbar-item{
  top: 0px;
  transform: translateY(-26px);
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}


#button-toggle svg rect{
  fill: #fff;
  transition: all .6s ease-in-out;
}
.spacer{
  margin-left: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc($space_top_bottom - 6px) 0;
  font-family: $font-heading;
  font-weight: bold;
}


p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.space-default{
  padding-top: $space_top_bottom;
  padding-bottom: $space_top_bottom;
}
.color-bianco{
  color: #fff;
}

.box-title h4{
  color: $colore-scuro;
  margin-bottom: 22px;
}
.box-title h3{
  font-size: 100%;
  text-transform: uppercase;
  word-wrap: none;
}
.box-title h4 span{
  font-weight: lighter;
  font-size: .8em;
  display: inline-block;
  transform-origin: center;
  transform: rotate(0deg) translateY(-19px);
}
.box-title h4{
  font-size: 1.3em;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/** PAGE CONTENT HEADER **/
header.pagetitle{
  display: block;
  min-height: 102vh;
  position: relative;
  background-color: $colore-header;
  /*
  background: rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23343434' fill-opacity='0.08'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  */
}

header.pagetitle h1,
header.pagetitle h2,
header.pagetitle p{
  padding: 0px;
  margin: 0px;
}



.moveUp{
  transform: translateY(-90px);
}


.fullexpand{
  padding: 10vh 0px 10vh;
}
.foto-row{
  border: 2px solid $primary-color;
  padding: 12px;
  margin-bottom: 60px;
}

@keyframes movimentoLento{
  30%{
    transform: rotateX(57deg) translateY(50px) scale(-1.5);
  }
  80%{
    transform: rotateX(57deg) translateY(50px) scale(1.5);
 }
}

/** FORM **/


label{
  margin-top: 22px;
  font-size: 16px;
  text-transform: uppercase;
  color: $colore-scuro;
}

input,textarea{
  background-color: $colore-sfondo;
  color: $colore-scuro;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}


.divisore{
  height: 60px;
}



.footer {
  padding: 22vh 0px 2vh;
  display: block;
  position: relative;
  font-size: 1.8em;
  line-height: 2em;
  background-color: $secondario-color;
}

footer nav a {
  margin-right: 12px;
  clear: both;
  display: block;
}

.info{
  margin-bottom: 30px;
}

.footerbio{
  margin-top: 90px;
  font-size: 11px;
}


@media screen and (max-width: 575px) {
  footer{
    font-size: 1.3em;
  }
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
